<div class="col-md-3 col-sm-4 col-xs-12 panel panel-info panel-margin">
  <div class="text-center">
    <table class="mini-calendar-table">
      <tr>
        <th colspan="7">
          <div>{{monthName}}, {{year}}</div>
        </th>
      </tr>
      <tr>
        <td *ngFor="let name of dayNames">{{name}}</td>
      </tr>
      <tr>
        <td><a href="#" class="btn-xs btn-cal-other-month">29</a></td>
        <td><a href="#" class="btn-xs btn-cal-other-month">30</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">01</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">02</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">03</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">04</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">05</a></td>
      </tr>
      <tr>
        <td><a href="#" class="btn-xs btn-cal-this-month">06</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">07</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">08</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">09</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">10</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">11</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">12</a></td>
      </tr>
      <tr>
        <td><a href="#" class="btn-xs btn-cal-this-month">13</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">14</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">15</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">16</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">17</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">18</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">19</a></td>
      </tr>
      <tr>
        <td><a href="#" class="btn-xs btn-cal-this-month">20</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">21</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">22</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">23</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">24</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">25</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">26</a></td>
      </tr>
      <tr>
        <td><a href="#" class="btn-xs btn-cal-this-month">27</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">28</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">29</a></td>
        <td><a href="#" class="btn-xs btn-cal-this-month">30</a></td>
        <td><a href="#" class="btn-xs btn-cal-other-month">01</a></td>
        <td><a href="#" class="btn-xs btn-cal-other-month">02</a></td>
        <td><a href="#" class="btn-xs btn-cal-other-month">03</a></td>
      </tr>
    </table>
  </div>
</div>