.last-month {
    background: lightskyblue;
    color: grey;
}

.next-month {
    background: lightskyblue;
    color: grey;
}

.this-month {
    background: navy;
    color: white;
}

.mini-calendar-table {
    margin: auto;
}

td {
    padding: 2px;
}

.btn {
    font-family: monospace;
}