<div class="col-md-3 col-sm-4 col-xs-12 panel panel-info panel-margin">
  <div class="text-center">
    <table class="mini-calendar-table">
      <tr>
        <th colspan="7">
          <div>{{monthName}}, {{year}}</div>
        </th>
      </tr>
      <tr>
        <td *ngFor="let name of dayNames">{{name}}</td>
      </tr>
      <tr *ngFor="let week of days">
        <td *ngFor="let day of week">
          <a href="#" 
            class="btn btn-xs {{day.cssClass}}" 
            [ngClass]="day.cssClass==='this-month' ? btn-primary : ''">
            {{day.date | padNumber:'&nbsp;&nbsp;'}}
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>