<div class="panel panel-info panel-margin col-md-9 col-sm-8">
  <div class="panel-heading">Calendar for Dr. Jane Doe</div>
  <div class="panel panel-default day">
    <div class="panel-heading">Sunday</div>
    <div class="panel-body">
      <div class="times">
        <button class="btn btn-sm open-slot units-3">8:00am</button><br>
        <button class="btn btn-sm closed-slot units-2">8:45am</button><br>
        <button class="btn btn-sm closed-slot units-2">9:15am</button><br>
        <button class="btn btn-sm closed-slot">9:45am</button><br>
        <button class="btn btn-sm open-slot units-4">10:00am</button><br>
        <button class="btn btn-sm reserved-slot units-5">11:00am</button><br>
        <button class="btn btn-sm reserved-slot units-3">12:15am</button><br>
        <button class="btn btn-sm open-slot units-12">1:00pm</button><br>
      </div>
    </div>
  </div>
  <div class="panel panel-default day">
    <div class="panel-heading">Monday</div>
    <div class="panel-body"></div>
  </div>
  <div class="panel panel-default day">
    <div class="panel-heading">Tuesday</div>
    <div class="panel-body"></div>
  </div>
  <div class="panel panel-default day">
    <div class="panel-heading">Wednesday</div>
    <div class="panel-body"></div>
  </div>
  <div class="panel panel-default day">
    <div class="panel-heading">Thursday</div>
    <div class="panel-body"></div>
  </div>
  <div class="panel panel-default day">
    <div class="panel-heading">Friday</div>
    <div class="panel-body"></div>
  </div>
  <div class="panel panel-default day">
    <div class="panel-heading">Saturday</div>
    <div class="panel-body"></div>
  </div>
</div>
