<div class="col-md-9 col-sm-8">
  <div class="row day-calendar-row">
    <div class="col day">
      <div class="panel panel-info">
        <div class="panel-heading">Sun</div>
        <div class="panel-body">
          <div class="slot open-slot" style="height: 320px;">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="col day">
      <div class="panel panel-info">
        <div class="panel-heading">Sun</div>
        <div class="panel-body">
          <div class="slot open-slot" style="height: 320px;">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="col day">
      <div class="panel panel-info">
        <div class="panel-heading">Mon</div>
        <div class="panel-body">
          <div class="slot open-slot" style="height: 320px;">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="col day">
      <div class="panel panel-info">
        <div class="panel-heading">Tue</div>
        <div class="panel-body">
          <div class="slot open-slot" style="height: 320px;">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="col day">
      <div class="panel panel-info">
        <div class="panel-heading">Wed</div>
        <div class="panel-body">
          <div class="slot open-slot" style="height: 320px;">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="col day">
      <div class="panel panel-info">
        <div class="panel-heading">Thu</div>
        <div class="panel-body">
          <div class="slot open-slot" style="height: 320px;">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="col day">
      <div class="panel panel-info">
        <div class="panel-heading">Fri</div>
        <div class="panel-body">
          <div class="slot open-slot" style="height: 320px;">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="col day">
      <div class="panel panel-info">
        <div class="panel-heading">Sat</div>
        <div class="panel-body">
          <div class="slot open-slot" style="height: 320px;">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</div>