<div class="col-md-9 col-sm-8">
  <div class="row">
    
    <!--<table>
      <tr>
        <th colspan="7">
          Calendar For: 
          <select name="currentServiceProvider" id="currentServiceProvider">
            <option value="">Select a Provider</option>
            <option *ngFor="let providerName of providerNames" value="{{providerName}}">{{providerName}}</option>
          </select>
        </th>
      </tr>
      <tr>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
      </tr>
      <tr>
        <td>
          <div class="time open-slot units-4">8:00am</div>
          <div class="time reserved-slot units-2">
            9:00am Checkup<br>
            Dilber Finglesnort
          </div>
          <div class="time open-slot units-2">
            9:30am
          </div>
          <div class="time closed-slot units-1">
            10:00am
          </div>
          <div class="time reserved-slot units-4">
            10:15am CDA<br>
            Horatio Horsebreath
          </div>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>-->
  </div>
</div>